/*Boost*/
body{
  .Boost_isai{
    
  }
}

/*Usay Page*/
body{
.usay_tab{
  height: 200;
  width: 200;
}
}
/* Teto page */
body{
.Glow_Teto{
  margin-left: 750px;
}
.Teto_button{
  margin-left: 500px;
  background-color: rgb(255, 54, 54);
  padding: 7px;
  color: rgb(26, 21, 21);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  }
.Teto_button:hover{
  background-color: aquamarine;
  color: black;
  }

.Teto_bird_button{
  margin-left: 350;
  background-color: rgb(255, 197, 39);
  padding: 7px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  }
.Teto_bird_button:hover{
  background-color: white;
  color:yellow;
  border-radius: 100px;
  }
  
.Title_T{
  text-align: center;
  font-family: cursive;
  text-decoration: underline overline darkred;
  }
.Text{
  font-family: sans;
  font-weight: bold;
  color: rgb(72, 241, 241);
  }

.Jazz_button{
  margin-left: 125px;
  background-color: rgb(255, 255, 255);
  padding: 7px;
  color: rgb(66, 157, 241);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  }
.Jazz_button:hover{
  background-color: rgb(66, 157, 241);
  color: white;
  }
}
/* Miku Page */
body{
.Title_M{
  text-align: center;
  font-family: cursive;
  text-decoration: underline overline rgb(8, 100, 133);
}
}
/* Spining Miku page*/
.elon{
  position: relative;
  bottom: 700px;
  background:url('images/Elon.webp') no-repeat;
  animation: backspin .00001s linear infinite ;
}
.spin_miku2{
  background:url('images/Cute_miku2.png') no-repeat;
  animation: miku_spin2 1s linear infinite;
}
.spin_miku{
  height: 390px;
  width: 390px;
  position: relative;
  left: 730px;
  top: 200px;
  background:url('images/Cute_miku.png') no-repeat;
  animation: miku_spin1 1s linear infinite;
}

.fivehead{
  height: 50%;
  width: 50%;
  position: relative;
  left: 650px;
  bottom: 700px;
  background:url('images/Five_headed_dragon.webp') no-repeat;
  animation: dragspin 5s linear infinite ;
}

@keyframes miku_spin1{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes miku_spin2{
  from{
    transform: rotate(-1deg);
    transform: rotateY(180deg);
  }
  to{
    transform: rotate(360deg);
    transform: rotateY(-180deg);
  }
}

@keyframes backspin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

@keyframes dragspin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/*index page*/
body{

  transform: matrix();
}